@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: RiformaLL;
    src: url('/fonts/RiformaLLSub.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: NBInter;
    src: url('/fonts/NBInternational.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

.font-inter {
    font-family: 'NBInter', serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* idk how to do dark mode */
/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*  body {*/
/*    color: white;*/
/*    background: black;*/
/*  }*/
/*}*/
